@-webkit-keyframes badbounce {
  0%, 100% {
    -webkit-transform: translateY(0px);
  }
  10% {
    -webkit-transform: translateY(6px);
  }
  30% {
    -webkit-transform: translateY(-4px);
  }
  70% {
    -webkit-transform: translateY(3px);
  }
  90% {
    -webkit-transform: translateY(-2px);
  }
}

@-moz-keyframes badbounce {
  0%, 100% {
    -moz-transform: translateY(0px);
  }
  10% {
    -moz-transform: translateY(6px);
  }
  30% {
    -moz-transform: translateY(-4px);
  }
  70% {
    -moz-transform: translateY(3px);
  }
  90% {
    -moz-transform: translateY(-2px);
  }
}

@keyframes badbounce {
  0%, 100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  10% {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
  }
  30% {
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  70% {
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
  }
  90% {
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
  }
}

.ss_animate {
  -webkit-animation: badbounce 1s linear;
  -moz-animation: badbounce 1s linear;
  animation: badbounce 1s linear;
}

#ss_menu {
  z-index: 20;
  bottom: 2px;
  width: 50px;
  height: 50px;
  color: #fff;
  position: fixed;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  right: 2%;
  bottom: 5%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

#ss_menu>.menu {
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  /*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);*/
  color: #fff;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

#ss_menu>.menu .share {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

#ss_menu>.menu .share .circle {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  top: 50%;
  margin-top: -6px;
  left: 12px;
  opacity: 1;
}

#ss_menu>.menu .share .circle:after, #ss_menu>.menu .share .circle:before {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  content: '';
  opacity: 1;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
}

#ss_menu>.menu .share .circle:after {
  left: 20.78461px;
  top: 12.0px;
}

#ss_menu>.menu .share .circle:before {
  left: 20.78461px;
  top: -12.0px;
}

#ss_menu>.menu .share .bar {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  width: 24px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 18px;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

#ss_menu>.menu .share .bar:before {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  content: '';
  width: 24px;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0px;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

#ss_menu>.menu .share.close .circle {
  opacity: 0;
}

#ss_menu>.menu .share.close .bar {
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -12px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(405deg);
  -moz-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  -o-transform: rotate(405deg);
  transform: rotate(405deg);
}

#ss_menu>.menu .share.close .bar:before {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(-450deg);
  -moz-transform: rotate(-450deg);
  -ms-transform: rotate(-450deg);
  -o-transform: rotate(-450deg);
  transform: rotate(-450deg);
}

#ss_menu>.menu.ss_active {
  background: #26698f;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}

#ss_menu>div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  background: #2C3E50;
  border-radius: 50%;
  display: table;
}

#ss_menu>div i {
  display: table-cell;
  padding-top: 15px;
}

#ss_menu>div:hover {
  background: black;
  cursor: pointer;
}

#ss_menu div:nth-child(1) {
  top: 0px;
  left: -160px;
}

#ss_menu div:nth-child(2) {
  top: -80.0px;
  left: -138.56406px;
}

#ss_menu div:nth-child(3) {
  top: -138.56406px;
  left: -80.0px;
}

#ss_menu div:nth-child(4) {
  top: -160px;
  left: 0.0px;
}


/*Font Faces */

@font-face {
  font-family: "Avenir";
  src: url('./Fonts/AvenirNextLTPro-Regular.otf');
}

@font-face {
  font-family: "AvenirL";
  src: url('./Fonts/AvenirNextLTPro-UltLtCn.otf');
}

@font-face {
  font-family: "AvenirB";
  src: url('./Fonts/AvenirNextLTPro-Bold.otf');
}


/*Selection customization */

::selection {
  color: #2C3E50;
}


/*Scroll bar */

html::-webkit-scrollbar {
  width: 2px;
}

html::-webkit-scrollbar-thumb {
  background-color: #2C3E50;
}

.AboutUs::-webkit-scrollbar {
  width: 2px;
}

.AboutUs::-webkit-scrollbar-thumb {
  background-color: #2C3E50;
}


/*Diabling scroll when on larger displays*/

.stop {
  max-width: 1920px;
  max-height: 1080px;
  height: 100%;
  overflow: hidden;
}


/*Body Cascade*/

html {
  font-family: Avenir;
}

header {
  z-index: 2;
  width: 100%;
  position: fixed;
  padding-top: 2vh;
  background-color: #2C3E50;
  height: 10vh;
}

.Logo {
  float: left;
  margin-left: 10px;
  width: 10vw;
  height: 70%;
  background-image: url('White logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

nav {
  font-size: 0%;
  margin-top: 1.5vh;
  float: right;
  transform-origin: center center;
}

nav a, .navigation {
  text-decoration: none;
  color: white;
  padding-right: 8px;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}


/*Mobile navigation*/

header .MenuButton {
  margin-top: 0.5%;
  float: right;
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.Bar {
  border-radius: 5px;
  width: 100%;
  background-color: white;
  height: 10%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.Two, .Three {
  margin-top: 23%;
}


/*@keyframes animatedBackground {
  0% {
    background-image: url('1.jpeg');
  }
  50% {
    background-image: url('2.jpeg');
  }
  100% {
    background-image: url('3.jpeg');
  }
}*/

#VideoBG {
  z-index: -30;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-position: center center;
}

video {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100% !important;
  height: auto !important;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: transparent;
}

.PictureGallery {
  width: 100%;
  visibility: hidden;
  height: 100vh;
  position: absolute;
  background-image: url('Cover for landing page.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/*Cascade for Registration form */

.RegisterForm {
  display: inline-block;
  position: absolute;
  width: 0%;
  height: 0vh;
  z-index: 10;
  background-color: white;
  top: 0;
  left: 0;
}

.CloseButton {
  z-index: 25;
  position: absolute;
  margin-top: 3%;
  margin-left: 95%;
  height: 30px;
  width: 30px;
  background-image: url('Close Button.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  transition: 0.3s;
}

.CloseButton:hover {
  cursor: pointer;
  opacity: 0.7;
}

.CloseButton:active {
  height: 15px;
  width: 15px;
}

.Registeration {
  height: 100%;
  float: left;
  width: 50%;
  padding-top: 2%;
  position: relative;
}

.Recaptcha-contact {
  width: 80%;
  padding: 8px;
  margin-top: 10px;
  margin-left: 10%;
  border-width: 0px 0px 2px 0px;
  box-sizing: border-box;
  background-color: #ecf0f1;
  border-color: #2C3E50;
  height: 100px;
  position: relative;
}

.RegisterForm .invisible {
  visibility: hidden;
}

.g-recaptcha {
  padding-top: 2%;
  margin-top: -45%;
  margin-left: 30%;
}

.OR {
  opacity: 0.5;
  height: 100%;
  width: 10%;
  background-size: 40px 400px;
  background-image: url('OrBanner.png');
  background-position: center center;
  background-repeat: no-repeat;
  float: right;
}

.SocialMediaAccountLogin {
  vertical-align: middle;
  height: 100vh;
  width: 40%;
  float: right;
  padding: 3%;
  padding-right: 5%;
  padding-top: 15%;
}

#facebooklogin, #googlelogin, #LinkedInLogin {
  height: 15%;
  margin-bottom: 3%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: 0.5;
  -moz-transition: 0.5;
  -ms-transition: 0.5;
  -o-transition: 0.5;
}

#facebooklogin:hover, #googlelogin:hover, #LinkedInLogin:hover {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-opacity: 0.5;
  -o-opacity: 0.5;
}

/*#facebooklogin {
  background-image: url('LoginWithFacebook.svg');
}*/

/*#googlelogin {
  background-image: url('LoginWithGoogle.svg');
}*/

/*#LinkedInLogin {
  background-image: url('LoginWithLinlkedIn.svg');
}
*/

/*Style for the text and Email feilds*/

input[type=text], input[type=email], input[type=password] {
  width: 80%;
  padding: 12px;
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 10%;
  border-width: 0px 0px 0.1px 0px;
  box-sizing: border-box;
  border-color: #95a5a6;
}

input[type=text]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=textarea]::-webkit-input-placeholder {
  -moz-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
  transform-origin: 0 50%;
}

input[type=text]:focus::-webkit-input-placeholder, input[type=email]:focus::-webkit-input-placeholder, input[type=password]:focus::-webkit-input-placeholder, input[type=textarea]::-webkit-input-placeholder {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}

input[type=text], input[type=email]:focus {}

.CheckQuestions {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
}


/*Style for text above the test feilds i.e First Name, Last Name etc.*/

.inputInfo {
  margin-top: 20px;
  margin-left: 10%;
}


/*Style for checkboxes*/

input[type=checkbox] {
  /*float: right;*/
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  /*margin-left: 10%;*/
}

input[type=checkbox]:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

input[type=checkbox]:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}

input[type=submit] {
  color: white;
  width: 80%;
  padding: 10px;
  margin-top: 5%;
  margin-left: 10%;
  border-style: none;
  background-color: #2C3E50;
  transition: 0.3s;
}

input[type=submit]:hover {
  cursor: pointer;
  background-color: #99a1a7;
}

.DropDownMenuTab {
  padding-bottom: 5%;
  color: black;
  width: 90%;
}

.DropDownMenuTab p {
  font-weight: bold;
}

.DropDownMenuOptions {
  padding-right: 13%;
  width: 100%;
  height: 20%;
  visibility: hidden;
}

.DropDownMenuOptions input {
  float: right;
}

.ContactUs {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  width: 0%;
  height: 0vh;
  z-index: 10;
  background-color: white;
  top: 0;
  left: 0;
}

input[type=textarea] {
  width: 80%;
  height: 80px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 10%;
  border-width: 0px 0px 2px 0px;
  box-sizing: border-box;
  background-color: #ecf0f1;
  border-color: #2C3E50;
}

.ContactRegistration {
  height: 100%;
  float: left;
  width: 50%;
  padding-top: 2%;
  position: relative;
}

.g-recaptchaContactUs {
  padding-left: 20%;
}

.AboutUs {
  float: right;
  height: 100%;
  width: 50%;
  overflow-y: scroll;
}

.AboutUsInfo {
  padding: 10%;
  padding-top: 5%;
}

.AboutUsInfo p {
  margin-top: 5%;
}

.AboutUsInfo h1 {
  font-weight: bold;
  font-size: 20pt;
  margin-top: 10%;
}


/*Responsive website */


/*Media query for max-width - 1024px;*/

@media screen and (max-width: 1366px) {
  .Registeration {
    height: 100%;
    float: left;
    width: 50%;
    padding-top: 1%;
    position: relative;
  }
  input[type=text], input[type=email], input[type=password] {
    padding: 12px;
    margin-top: 2%;
  }
  input[type=submit] {
    margin-top: 2%;
  }
  .ContactRegistration {
    height: 100%;
    float: left;
    width: 50%;
    padding-top: 8%;
    position: relative;
  }
}

@media screen and (max-width: 1440px) {
  .g-recaptchaContactUs {
    margin-top: 5%;
    margin-left: 12%;
  }
}

@media screen and (max-width: 1024px) {
  .ContactRegistration {
    height: 100%;
    float: left;
    width: 50%;
    padding-top: 2%;
    position: relative;
  }
  .ContactRegistration {
    margin-top: 5%;
  }
  .g-recaptchaContactUs {
    padding-left: 10%;
  }
  .AboutUsInfo h1 {
    font-size: 15pt;
  }
  .g-recaptcha {
    padding-top: 2%;
    /*margin-top: -45%;*/
    margin-left: 20%;
  }
  .Registeration {
    height: 100%;
    float: left;
    width: 50%;
    padding-top: 1%;
    position: relative;
  }
  .DropDownMenuOptions h1 {
    font-size: 12px;
  }
  input[type=text], input[type=email], input[type=password] {
    padding: 12px;
    margin-top: 2%;
  }
  input[type=submit] {
    margin-top: 2%;
  }
  input[type=text], input[type=email], input[type=password] {
    padding: 8px;
    margin-top: 2%;
  }
  input[type=submit] {
    margin-top: 2%;
  }
}


/*Media query for max-width - 768px;*/

@media screen and (max-width: 768px) {
  .ContactRegistration {
    height: 100%;
    float: left;
    width: 50%;
    padding-top: 10%;
    position: relative;
  }
  .g-recaptchaContactUs {
    padding-left: 0%;
    margin-left: 10%;
  }
  .AboutUs {
    float: right;
    height: 100%;
    width: 50%;
    overflow-y: scroll;
  }
  .AboutUsInfo {
    padding: 10%;
    padding-top: 5%;
  }
  .AboutUsInfo p {
    margin-top: 5%;
  }
  .AboutUsInfo h1 {
    font-weight: bold;
    font-size: 15pt;
    margin-top: 10%;
  }
  #VideoBG {
    visibility: hidden;
  }
  .PictureGallery {
    visibility: visible;
    top: 0;
  }
  .SocialMediaAccountLogin {
    padding-right: 5%;
    padding-top: 25%;
    /*background-repeat: ;ound-color: red;*/
  }
  .CloseButton {
    margin-top: 3%;
    margin-left: 95%;
    height: 20px;
    width: 20px;
  }
  #ss_menu {
    right: 3%;
    bottom: 3%;
  }
  .g-recaptcha {
    padding-top: 2%;
    /*margin-top: -45%;*/
    margin-left: 10%;
  }
}


/*Media query for max-width - 425px;*/

@media screen and (max-width: 425px) {
  .ContactRegistration {
    height: 50%;
    float: none;
    width: 100%;
    padding-top: 160%;
    position: relative;
  }
  .ContactUs {
    overflow-y: scroll;
  }
  .g-recaptchaContactUs {
    padding-left: 1%;
  }
  .AboutUs {
    float: left;
    height: 50%;
    width: 100%;
    overflow-y: visible;
  }
  .OR {
    opacity: 0.5;
    height: 100%;
    width: 0%;
  }
  .g-recaptcha {
    margin-left: 15%;
  }
  .Registeration {
    height: 50%;
    float: left;
    width: 100%;
    padding-top: 85%;
    position: relative;
  }
  .RegisterForm {
    overflow-y: scroll;
    height: 85vh !important;
  }
  .SocialMediaAccountLogin {
    vertical-align: middle;
    height: 50%;
    width: 100%;
    float: none;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 20%;
    /*background-repeat: ;ound-color: red;*/
  }
  #facebooklogin, #googlelogin, #LinkedInLogin {
    height: 30%;
    margin-bottom: 3%;
  }
  .CloseButton {
    z-index: 25;
    position: absolute;
    margin-top: 3%;
    margin-left: 90%;
    height: 20px;
    width: 20px;
    background-image: url('Close Button.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: 0.3s;
  }
}


/*Media query for max-width - 375px;*/

@media screen and (max-width: 375px) {
  .CloseButton {
    z-index: 25;
    position: absolute;
    margin-top: 4%;
    margin-left: 90%;
    height: 20px;
    width: 20px;
    background-image: url('Close Button.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: 0.3s;
  }
  .Registeration {
    height: 50%;
    float: left;
    width: 100%;
    padding-top: 75%;
    position: relative;
  }
  .g-recaptcha {
    margin-left: 10%;
  }
  .ContactRegistration {
    height: 50%;
    float: none;
    width: 100%;
    padding-top: 200%;
    position: relative;
  }
  .g-recaptchaContactUs {
    padding-left: 0%;
    margin-left: 10%;
  }
}


/*Media query for max-width - 320px;*/

@media screen and (max-width: 320px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  .ContactRegistration {
    height: 50%;
    float: none;
    width: 100%;
    padding-top: 240%;
    position: relative;
    visibility: collapse;
  }
  .g-recaptchaContactUs {
    padding-left: 5%;
    margin-left: -5%;
  }
  .AboutUsInfo p {
    text-align: justify;
    line-height: 120%;
    font-size: 11pt;
    margin-top: 5%;
  }
  .AboutUsInfo h1 {
    font-weight: bold;
    font-size: 12pt;
    margin-top: 10%;
  }
  .Registeration {
    height: 50%;
    float: left;
    width: 100%;
    padding-top: 90%;
    position: relative;
  }
  .g-recaptcha {
    margin-left: 3%;
  }
}
